// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

table tr{
    text-align: center;
}